
/* Global styles */
:root {
     --soft--red: #e57373;
     --soft--green: #81c784;
}

body {
  font-family: 'Red Hat Text', sans-serif;
  background-color:rgb(17, 17, 17);
  background-size: cover;
  color: rgb(146, 146, 146);
}

/*---- TITLE START ----*/
.title-container * {
  display: grid;
  text-align: center;
  font-weight: bold;
} /*---- TITLE END ----*/


.sub-title {
  font-size: 20px;
}



/*---- APPLIED TO ALL WIDGETS BEGIN ----*/
.container-all-widgets {
  display: grid;
  grid-template-rows: 250px 100px;
  grid-template-columns: 300px auto;
  gap: 10px 10px;
}

.widget-container {
  background-color: rgb(21, 21, 21);
  border: 2px solid rgb(55, 55, 55);
  padding: 3px 10px 10px 10px;
  border-radius: 10px;

  text-align: center;
  padding-inline: 1rem;
  max-width: 1440px;
}

.widget-container h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: italic;
}

/*---- APPLIED TO ALL WIDGETS END ----*/
  

/*---- TIMER SPECIFIC BEGIN ----*/
.countdown-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.countdown-container .title{
  position: relative;
  background-color: #3b3b3b;
  border-radius : 0.3rem;
  box-shadow: 0 4px rgba(0, 0, 0, 0.5);
  width: 70px;
  height: 70px;
}

.countdown-container .title::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.countdown-container .title h2 {
  font-size: 1.7rem;
  line-height: 70px;
  position: relative;
}

/* makes the number squares spaced apart from each other*/
.countdown-container .countdown:not(:last-child) {
  margin-right: 1rem;
}

/* the 'minutes' and 'seconds' text*/
.countdown-container .countdown p {
  font-size: 0.7rem;
}

/*---- TIMER SPECIFIC END ----*/



/*---- TIMER START/END BUTTON BEGIN ----*/
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;

  font-family: 'Red Hat Text', sans-serif;
  text-transform: uppercase;
  font-size: 10px;
}


.button-container .title{
  position: relative;
  border-radius : 0.3rem;
  width: 90px;
  height: 80px;
}

.button-container .start {
  background-color: var(--soft--red);
  border-radius : 0.8rem;
  color:rgb(17, 17, 17);
  padding: 3px;
}

.button-container .end {
  background-color: var(--soft--green);
  border-radius : 0.8rem;
  color:rgb(17, 17, 17);
  padding: 3px;
}

/*makes touch-activated changes possible*/
.button h2 {
  display: block;
  transition: transform 0.2s ease;
}

.button .start {
  display: block;
  transition: transform 0.2s ease;
}

.button .end {
  display: block;
  transition: transform 0.2s ease;
}
.button h2:active {
  transform: translateY(-2px);
}

/* makes the number squares spaced apart from each other*/
.button-container .button:not(:last-child) {
  margin-right: 1rem;
}


/*---- TIMER START/END BUTTON END ----*/
